<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	
	<context:annotation-config/>
	<context:component-scan base-package="com.insart.traineeprogram.controller"></context:component-scan>
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/" />
	

	<!-- Datasource (MySQL) -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/sharesphere" />
		<property name="username" value="root" />
		<property name="password" value="1111" />
	</bean>

	<!-- Definition for items dao (jdbc template) -->
	
	<!-- SpringJDBC DAO implementations -->
	<bean id="usersDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.UsersDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="rolesDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.RolesDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="privilegesDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.PrivilegesDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="objectTypesDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.ObjectTypesDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="fileSystemObjectsDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.FileSystemObjectsDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sharedObjectsDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.SharedObjectsDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="initDestroyDAOSpringJDBC" class="com.insart.traineeprogram.dao.springjdbc.InitDestroyDAOSpringJDBCImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Usual JDBC DAO implementation -->
	<bean id="usersDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.UsersDAOImpl"/>
	<bean id="rolesDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.RolesDAOImpl"/>
	<bean id="privilegesDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.PrivilegesDAOImpl"/>
	<bean id="objectTypesDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.ObjectTypesDAOImpl"/>
	<bean id="fileSystemObjectsDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.FileSystemObjectsDAOImpl"/>
	<bean id="sharedObjectsDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.SharedObjectsDAOImpl"/>
	<bean id="initDestroyDAOJDBC" class="com.insart.traineeprogram.dao.jdbc.InitDestroyDAOImpl"/>
	
	<!-- Hibernate DAO implementation -->
	<bean id="usersDAOHibernate" class="com.insart.traineeprogram.dao.hibernate.UsersDAOHibernateImpl"/>
	<bean id="rolesDAOHibernate" class="com.insart.traineeprogram.dao.hibernate.RolesDAOHibernateImpl"/>
	
	<!-- Service BEANS usage -->
	<bean id="userService" class="com.insart.traineeprogram.service.UserService">
		<property name="usersDAO" ref="usersDAOSpringJDBC"/>
	</bean>
	<bean id="roleService" class="com.insart.traineeprogram.service.RoleService">
		<property name="rolesDAO" ref="rolesDAOSpringJDBC"/>
	</bean>
	<bean id="privilegeService" class="com.insart.traineeprogram.service.PrivilegeService">
		<property name="privilegesDAO" ref="privilegesDAOSpringJDBC"/>
	</bean>
	<bean id="objectTypeService" class="com.insart.traineeprogram.service.ObjectTypeService">
		<property name="objectTypesDAO" ref="objectTypesDAOSpringJDBC"/>
	</bean>
	<bean id="sharedObjectService" class="com.insart.traineeprogram.service.SharedObjectService">
		<property name="sharedObjectsDAO" ref="sharedObjectsDAOSpringJDBC"/>
	</bean>
	<bean id="fileSystemObjectService" class="com.insart.traineeprogram.service.FileSystemObjectService">
		<property name="fileSystemObjectsDAO" ref="fileSystemObjectsDAOSpringJDBC"/>
	</bean>

	<!-- View resolver config -->
	 <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- <bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="ru" />
		<property name="cookieName" value="lang" />
	</bean>-->

	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="localeChangeInterceptor"
				class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="lang" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>-->

	<!-- <bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/i18n/messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>-->
	
</beans>